.container-left-sidebar{
    padding-top: 50px;
    & > ul{
        & > li{
            & > a{
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                position: relative;
                padding: 23px 25px 22px 42px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #304156;
                opacity: 1;
                &:hover{
                    font-weight: 700;
                }
                &.active{
                    font-weight: 800;
                    color: #3693FF;
                    &:before{
                        content: "";
                        position: absolute;
                        width: 8px;
                        background-color: #3693FF;
                        top: 0px;
                        bottom: -1px;
                        left: 0px
                    }
                }
            }
            &:last-child{
                a{
                    border-bottom: 0px;
                }
            }
            &.uk-parent{
                & > a{
                    &:after{
                        content: "";
                        position: absolute;
                        width: 13px;
                        height: 14px;
                        right: 25px;
                        top: 22px;
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='6.48504' cy='7.12224' r='6.48504' fill='%232EC4B6'/%3e%3cpath d='M8.50073 7.5114H6.95341H6.01802H4.4707V6.63721H6.01802L6.95341 6.63726L8.50073 6.63721V7.5114Z' fill='white'/%3e%3c/svg%3e");
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
                }
                &.uk-open{
                    & > a{
                        &:after{
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='6.48504' cy='7.12224' r='6.48504' fill='%232EC4B6'/%3e%3cpath d='M8.50073 7.5114H6.95341H6.01802H4.4707V6.63721H6.01802L6.95341 6.63726L8.50073 6.63721V7.5114Z' fill='white'/%3e%3c/svg%3e");
                        }
                    }
                }
            }
            .uk-nav-sub{
                background-color:  rgba(196, 196, 196, .23);
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                padding: 0;
                padding-bottom: 22px;
                li{
                    a{
                        padding: 25px 25px 17px 80px;
                        font-family: 'Montserrat', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 14px;
                        color: #304156;
                        opacity: 1;
                        &:hover{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}