.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #007bff; 
}

.ng-invalid:not(form)  {
  border-left: 5px solid #FB000D; 
}

.alert-danger{
  padding: 5px 10px 5px 10px;
  margin: 0 auto;
}

#form-content{
  margin: 25px;
}

.inputs-top{
  margin-top: 15px;
}

#btn-add{
  margin-top: 15px;
}