@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800');

@font-face {
  font-family: "HeliosCondRegular";
  src: url("./fonts/HeliosCondRegular.eot");
  src: url("./fonts/HeliosCondRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/HeliosCondRegular.woff") format("woff"),
  url("./fonts/HeliosCondRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HeliosCondBold";
  src: url("./fonts/HeliosCondBold.eot");
  src: url("./fonts/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
  url("./fonts/HeliosCondBold.woff") format("woff"),
  url("./fonts/HeliosCondBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  background-color: #F0F2F5;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

