<div class="form-row">
    <div class="col-12">
        <label class="col-form-label">Дополнительная стоимость:</label>
    </div>
    <div class="col-1">
        <input
            type="number"
            name="{{ prefixName }}[extra_charge][value]"
            value="{{ value ?? 0 }}"
            class="form-control form-control-sm types-of-pricing-rules__extra-charge-value"
            min="0">
    </div>
    <div class="col-4 input-group">
        {%
            include 'calculator/assembly/types/common/currencies' with {
                name: prefixName ~ '[extra_charge][currency]',
                className: 'types-of-pricing-rules__extra-charge-currency',
                currency: currency
            } only
        %}
    </div>
</div>
