<form class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-12 mb-12">

      <h3 class="text-center">Calculation of the area of a circle</h3>
      <hr />

      <div id='form-content' class="form-row">
        <div class="col-md-6 mb-6">
            
          <label for="radius">Radius length:</label>
          <input class='form-control' type="number" id="radius" placeholder="100" required [formControl]='circleControl'>
          
          <div *ngIf="circleControl.invalid" class="alert alert-danger">
            {{circleControl.errors.radiusValidator.message}}
          </div>

          <button id='btn-add' class="btn btn-primary" type="submit" (click)='addCircle()' [disabled]="circleControl.invalid || responseIsSuccess">
            Add a new circle
            <span *ngIf='responseIsSuccess' class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>

        <div class="col-md-6 mb-6 text-center">
          <h4>
            Formula: 
            <code>S=πR²</code>
          </h4>    
          <img src="../../assets/Images/circle.png" alt="circle" height="100"> 
        </div>

      </div>

    </div>
  </div>
</form>