.container-dashboard-filter-date{
    margin-top: 29px;
}
.container-dashboard-content{
    margin: 36px 0px 36px 0px;
    section{
        margin-bottom: 20px;
        .card-ml{
            box-sizing: border-box;
            padding: 0px 0px 0px 10px;
        }
        .card-mr{
            box-sizing: border-box;
            padding: 0px 10px 0px 0px;
        }
    }
}
