.login-form {
    width: 340px;
    margin: 150px auto 0;
}

.logo {
    margin-bottom: 25px;
}

.inputs {
    margin-top: 25px;
}

.input {
    position: relative;
    padding-bottom: 15px;
}

.input input[type=text], .input input[type=password] {
    height: 40px;
    padding-left: 40px;
    width: 300px;
    border-radius: 20px;
    border: solid thin #E2E2E2;
    outline: none;
}

.button button {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-color: #ED8E39;
    outline: none;
    text-align: left;
    color: white;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.input img {
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
}
