.container-filter-date {
    .gr-daterange-switcher {
        padding: 0;
        margin: 0;
        border: 1px solid #3693FF;
        border-radius: 4px;
        background: #FFFFFF;
        overflow: hidden;
        li {
            display: inline-block;
            list-style-type: none;
            .item-switch {
                border: 0;
                background-color: #FFFFFF;
                display: inline-block;
                padding: 12px 15px 12px 15px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 0.5px;
                color: #304156;
                text-transform: none;
                border-right: 1px solid #3693FF;
                text-decoration: none;
                cursor: pointer;
                &.active {
                    background: #3693FF;
                    color: #FFFFFF;
                    cursor: auto;
                }
            }
            &:last-child {
                .item-switch {
                    border-right: 0px;
                }
            }
        }
    }
    .gr-daterange-container {
        position: relative;
        margin-left: 17px;
        .picker{
            .picker__trigger{
                position: relative;
                border: 1px solid #3693FF;
                border-radius: 4px;
                background: #FFFFFF;
                padding: 10px 15px 10px 40px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                letter-spacing: 0.5px;
                color: #304156;
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 13px;
                    left: 8px;
                    top: 12px;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='14' viewBox='0 0 19 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='5.98828' y='0.984863' width='3' height='3' fill='%233693FF'/%3e%3crect x='10.9883' y='0.984863' width='3' height='3' fill='%233693FF'/%3e%3crect x='15.9883' y='0.984863' width='3' height='3' fill='%233693FF'/%3e%3crect x='5.98828' y='5.98486' width='3' height='3' fill='%233693FF'/%3e%3crect x='10.9883' y='5.98486' width='3' height='3' fill='%233693FF'/%3e%3crect x='15.9883' y='5.98486' width='3' height='3' fill='%233693FF'/%3e%3crect x='5.98828' y='10.9849' width='3' height='3' fill='%233693FF'/%3e%3crect x='0.988281' y='5.98486' width='3' height='3' fill='%233693FF'/%3e%3crect x='0.988281' y='10.9849' width='3' height='3' fill='%233693FF'/%3e%3crect x='10.9883' y='10.9849' width='3' height='3' fill='%233693FF'/%3e%3c/svg%3e ");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
            }

            .range-picker-input{
                border: 0px;
                width: 210px;

                .picker-input__text{
                    padding: 0px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 14px;
                    text-align: center;
                    letter-spacing: 0.5px;
                    color: #304156;
                    padding-left: 0px !important;
                }
                .range-picker-input__icon{
                    display: none;
                }
            }
        }
    }
}